/* salsify colors [TM 20/03/24] */
$salsify-blue: #00c4ff;
$salsify-blue-dark: #15aee2;
$salsify-grey: #74718a;
$salsify-dark: #0c0128;
$salsify-black: #000;
$salsify-dark-background-color: #272424;
$salsify-light-background-color: #fafafc;
