@import 'company-colors';

// button colors [TM 20/03/24]
$salsify-button-color: $salsify-blue;
$salsify-button-color-hover: $salsify-blue-dark;

//typography colors [TM 20/03/24]
$salsify-text-color: $salsify-black;
$salsify-paragraph-text-color: $salsify-grey;
$salsify-highlight-text-color: $salsify-blue;

// background colors [TM 20/03/24]
$salsify-dark-background-color: $salsify-dark-background-color;
$salsify-light-background-color: $salsify-light-background-color;
