{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "requirePragma": false,
  "insertPragma": false,
  "trimTrailingWhitespace": true
}
