<form
  class="filters-form"
  [formGroup]="filterFormGroup"
  (ngSubmit)="filterProducts()"
>
  <div class="filter-section filter-property">
    <p-dropdown
      formControlName="property"
      [options]="properties"
      optionLabel="name"
      placeholder="Select Property"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="filter-section filter-operator">
    <p-dropdown
      formControlName="operator"
      [options]="
        filteredOperators.length > 0
          ? filteredOperators
          : [{ id: '', text: 'Please select a property to begin' }]
      "
      optionLabel="text"
      [disabled]="filteredOperators.length === 0"
      placeholder="Select Operator"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="filter-section filter-value">
    <ng-container
      *ngIf="
        selectedProperty &&
          selectedOperator &&
          selectedOperator.id !== OPERATOR_IDS.ANY &&
          selectedOperator.id !== OPERATOR_IDS.NONE;
        else valuePlaceholder
      "
    >
      <ng-container [ngSwitch]="selectedProperty.type">
        <ng-container *ngSwitchCase="'enumerated'">
          <p-dropdown
            *ngIf="selectedOperator.id !== OPERATOR_IDS.IN"
            formControlName="value"
            [options]="valueOptions"
            placeholder="Select Value"
            [showClear]="true"
          ></p-dropdown>
          <p-multiSelect
            *ngIf="selectedOperator.id === OPERATOR_IDS.IN"
            formControlName="value"
            [options]="valueOptions"
            optionLabel=""
            placeholder="Select one or more values"
            display="chip"
          ></p-multiSelect>
        </ng-container>
        <input
          *ngSwitchCase="'string'"
          type="text"
          formControlName="value"
          placeholder="Enter value"
        />
        <ng-container *ngSwitchCase="'number'">
          <input
            *ngIf="selectedOperator.id === OPERATOR_IDS.IN"
            type="text"
            formControlName="value"
            placeholder="Enter numbers separated by comma"
          />
          <input
            *ngIf="selectedOperator.id !== OPERATOR_IDS.IN"
            type="number"
            formControlName="value"
            placeholder="Enter value"
          />
        </ng-container>
      </ng-container>
      <div *ngIf="showValueError" class="value-error">
        {{ valueErrorMessage }}
      </div>
    </ng-container>
    <ng-template #valuePlaceholder>
      <p class="value-placeholder">Please select a property and operator</p>
    </ng-template>
  </div>
  <div class="filter-section filter-submit">
    <p-button label="Apply" type="submit"></p-button>
    <p-button
      label="Clear Filter"
      type="button"
      (click)="clearFilters()"
      class="ml-1rem"
    ></p-button>
  </div>
</form>
