@import '../../../../styles/variables/layout.scss';
@import '../../../../styles/mixins/layout.scss';
@import '../../../../styles/mixins/colors.scss';

.value-placeholder {
  height: 40px;
  display: flex;
  align-items: center;
}

.ml-1rem {
  margin-left: 1rem;
}

.filters-form {
  @include flex-properties;
  padding: $padding-vertical $padding-horizontal;

  .filter-section {
    @include flex-properties;
    align-items: center;
    margin-bottom: 1rem;

    &.filter-property,
    &.filter-operator,
    &.filter-value,
    &.filter-submit {
      flex: 0 0 25%;
    }
    &.filter-submit {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 768px) {
  .filters-form {
    @include flex-properties($wrap: wrap);
    .submit-button {
      padding: $padding-vertical $padding-horizontal;
    }
  }
}

@media (max-width: 576px) {
  .filters-form {
    @include flex-properties($direction: column);
    .submit-button {
      flex-direction: column;
      padding: $padding-vertical $padding-horizontal;
    }
  }
}
