@import '../../../../styles/variables/layout.scss';
@import '../../../../styles/mixins/layout.scss';
@import '../../../../styles/mixins/colors.scss';

.value-placeholder {
  height: 40px;
  display: flex;
  align-items: center;
  // color: $text-muted;
}

.ml-1rem {
  margin-left: 1rem;
}

.filters-form {
  @include flex-properties;
  padding: $padding-vertical $padding-horizontal;

  .filter-section {
    @include flex-properties;
    align-items: center;
    margin-bottom: 1rem;
  }

  .filter-property {
    flex: 0 0 25%;
  }

  .filter-operator {
    flex: 0 0 25%;
  }

  .filter-value {
    flex: 0 0 25%;
  }

  .filter-submit {
    flex: 0 0 25%;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  /* Tablet */
  .filters-form {
    @include flex-properties($wrap: wrap);

    .date-filters {
      flex: $flex-tablet;
    }

    .status-filter {
      padding: $padding-vertical $padding-horizontal;
      flex: 0 0 30%;
    }

    .submit-button {
      padding: $padding-vertical $padding-horizontal;
      flex: $flex-tablet;
    }
  }
}

@media (max-width: 576px) {
  /* Mobile */
  .filters-form {
    @include flex-properties($direction: column);

    .date-filters,
    .status-filter,
    .submit-button {
      align-items: normal;
      flex-direction: column;
      padding: $padding-vertical $padding-horizontal;
      flex: $flex-mobile;
    }

    .status-filter {
      padding: 0;
    }
  }
}
