<form
  class="filters-form"
  [formGroup]="filterFormGroup"
  (ngSubmit)="filterProducts()"
>
  <div class="filter-section filter-property">
    <p-dropdown
      formControlName="property"
      [options]="properties"
      optionLabel="name"
      placeholder="Select Property"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="filter-section filter-operator">
    <p-dropdown
      formControlName="operator"
      [options]="
        filteredOperators.length > 0
          ? filteredOperators
          : [{ id: '', text: 'Please select a property to begin' }]
      "
      optionLabel="text"
      placeholder="Select Operator"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="filter-section filter-value">
    @if (
      selectedProperty &&
      selectedOperator &&
      selectedOperator.id !== OPERATOR_IDS.ANY &&
      selectedOperator.id !== OPERATOR_IDS.NONE
    ) {
      @switch (selectedProperty.type) {
        @case ('enumerated') {
          @if (selectedOperator.id !== OPERATOR_IDS.IN) {
            <p-dropdown
              formControlName="value"
              [options]="valueOptions"
              placeholder="Select Value"
              [showClear]="true"
            ></p-dropdown>
          }
          @if (selectedOperator.id === OPERATOR_IDS.IN) {
            <p-multiSelect
              formControlName="value"
              [options]="valueOptions"
              optionLabel=""
              placeholder="Select one or more values"
              display="chip"
            ></p-multiSelect>
          }
        }
        @case ('string') {
          <input
            type="text"
            formControlName="value"
            placeholder="Enter value"
          />
        }
        @case ('number') {
          @if (selectedOperator.id === OPERATOR_IDS.IN) {
            <input
              type="text"
              formControlName="value"
              placeholder="Enter numbers separated by comma"
            />
          }
          @if (selectedOperator.id !== OPERATOR_IDS.IN) {
            <input
              type="number"
              formControlName="value"
              placeholder="Enter value"
            />
          }
        }
      }
      @if (showValueError) {
        <div class="value-error">
          {{ valueErrorMessage }}
        </div>
      }
    } @else {
      <p class="value-placeholder">Please select a property and operator</p>
    }
  </div>
  <div class="filter-section filter-submit">
    <p-button label="Apply" type="submit"></p-button>
    <p-button
      label="Clear Filter"
      type="button"
      (click)="clearFilters()"
      class="ml-1rem"
    ></p-button>
  </div>
</form>
