<div class="products-wrapper">
  <app-filters
    [properties]="properties"
    [operators]="operators"
    (filterChange)="onFilterChange($event)"
  ></app-filters>
  @if (loading) {
    <app-placeholder
      [placeholderContent]="{
        title: 'Loading',
        message: 'Loading products, please wait...'
      }"
    />
  } @else if (products.length) {
    <app-table
      [loading]="loading"
      [products]="products"
      [properties]="properties"
    ></app-table>
  } @else {
    <app-placeholder
      [placeholderContent]="placeholderContent"
    ></app-placeholder>
  }
</div>
