@import '../company-colors.scss';
/* This was left as an example of how a color mixin would work [TM 04/09/25] */
@mixin transactionStatusColors {
  &.captured {
    color: blue;
  }
  &.completed {
    color: green;
  }
  &.failed {
    color: red;
  }
  &.created {
    color: orange;
  }
  &.settled {
    color: purple;
  }
}
